.link {
    z-index: 5;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: calc(25% + 2vw + 2vh);
    transform: translate(-50%,-50%);
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}