.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  height: 108px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
  width: 108px;
}

.squareempty {
  background: #fff;
  float: left;
  height: 108px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 4px;
  width: 108px;
}

.tunnelright {
  background: #fff;
  border: 0px solid #999;
  float: left;
  height: 54px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 27.5px;
  margin-bottom: 1px;
  padding: 4px;
  width: 108px;
}


.tunneldown {
  background: #fff;
  border: 0px solid #999;
  float: left;
  height: 108px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 4px;
  width: 54px;
}

.board {

/*  width: 864px;

  padding: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;*/
  margin: auto;
  border: 0px solid green;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.board-row:after {
  margin: auto;
  clear: both;
  content:"";
  display: table;
}
